# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Kubernetes secrets / local configs
*.secret.yaml
kubeconfig
config

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.env.*
